$test-color: red;
.test {
  color: $test-color;
}

html,
body {
  height: 100%;
}

//滚动条
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  width: 6px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ddd;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}


.operate-wrap{
  margin-bottom: 10px;
}
